<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"
        />
        <title>ANEP - Réinitialiser le mot de passe</title>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
        </style>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/script-name.js"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            "anep-yellow": "#ffd200",
                            "anep-light-blue": "#58affc",
                            "anep-primary": "#035179",
                            "anep-primary-light": "#046a9f",
                            "anep-primary-dark": "#03496d",
                            "anep-secondary": "#edf2f9",
                            "anep-light": "#d9e3ec",
                            "anep-dark": "#303030"
                        },
                        fontFamily: {
                            cairo: ["Cairo", "sans-serif"]
                        },
                        dropShadow: {
                            "black-sm": ["0 2px 4px rgb(0 0 0 / 0.5)"],
                            "white-custom": ["0 0px 4px rgb(255 255 255)"]
                        }
                    }
                }
            };
        </script>
    </head>
    <body class="font-cairo">
        <main
            class="min-h-screen flex items-center justify-center bg-anep-secondary"
        >
            <div
                class="mx-3 w-[500px] container flex justify-center border border-gray-400 rounded-lg overflow-hidden bg-white drop-shadow-black-sm"
            >
                <div
                    class="w-full px-3 py-10 flex flex-col items-center justify-center gap-y-14 lg:gap-y-20"
                >
                    <h1
                        class="text-anep-primary text-xl text-center lg:text-3xl font-bold"
                    >
                        Réinitialiser votre mot de passe.
                    </h1>
                    <form action="" method="post">
                        <div
                            class="min-w-[240px] sm:min-w-[300px] flex flex-col items-center content-center gap-y-4"
                        >
                            <div class="w-72">
                                <div class="relative h-10 w-full">
                                    <input
                                        class="peer h-full w-full text-gray-700 rounded-md border border-t-transparent bg-transparent p-3 font-cairo text-sm font-normal outline outline-0 transition-all placeholder-shown:border focus:border-2 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-gray-50 <%= errors ? 'border-red-500 placeholder-shown:border-red-500 placeholder-shown:border-t-red-500 focus:border-red-500' : 'border-gray-400 placeholder-shown:border-gray-400 placeholder-shown:border-t-gray-400 focus:border-blue-500' %>"
                                        placeholder=" "
                                        type="password"
                                        name="password"
                                    />
                                    <label
                                        class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-gray-500 <%= errors ? 'text-red-500 before:border-red-500 after:border-red-500 peer-placeholder-shown:text-red-500 peer-focus:text-red-500 peer-focus:before:border-red-500 peer-focus:after:border-red-500' : 'text-gray-400 before:border-gray-400 after:border-gray-400 peer-placeholder-shown:text-gray-500 peer-focus:text-blue-500 peer-focus:before:border-blue-500 peer-focus:after:border-blue-500' %>"
                                    >
                                        Nouveau mot de passe
                                    </label>
                                </div>
                                <% if (errors && errors.password) { 
                                    pwdError = errors.password.split(","); %>
                                    <p class="text-sm lg:text-base font-medium text-red-600">Le mot de passe doit:</p>
                                    <% pwdError.forEach((error) => { %>
                                        <p class="text-sm lg:text-base font-medium text-red-600"><%= error %></p>
                                    <% })
                                } else if (!errors) { %>
                                    <p class="text-sm lg:text-[15px] text-anep-dark font-semibold text-justify">Le mot de passe doit comporter au moins 8 caractères, au maximum 36 caractères, au moins une lettre majuscule, au moins une lettre minuscule, au moins un chiffre, au moins un caractère spécial, aucun espace.</p>
                                <% } %>
                            </div>
                            <div class="w-72">
                                <div class="relative h-10 w-full">
                                    <input
                                        class="peer h-full w-full text-gray-700 rounded-md border border-t-transparent bg-transparent p-3 font-cairo text-sm font-normal outline outline-0 transition-all placeholder-shown:border focus:border-2 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-gray-50 <%= errors ? 'border-red-500 placeholder-shown:border-red-500 placeholder-shown:border-t-red-500 focus:border-red-500' : 'border-gray-400 placeholder-shown:border-gray-400 placeholder-shown:border-t-gray-400 focus:border-blue-500' %>"
                                        placeholder=" "
                                        type="password"
                                        name="confirm-password"
                                    />
                                    <label
                                        class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-gray-500 <%= errors ? 'text-red-500 before:border-red-500 after:border-red-500 peer-placeholder-shown:text-red-500 peer-focus:text-red-500 peer-focus:before:border-red-500 peer-focus:after:border-red-500' : 'text-gray-400 before:border-gray-400 after:border-gray-400 peer-placeholder-shown:text-gray-500 peer-focus:text-blue-500 peer-focus:before:border-blue-500 peer-focus:after:border-blue-500' %>"
                                    >
                                        Confirmez le mot de passe
                                    </label>
                                </div>
                                <% if (errors && errors["confirm-password"]) { %>
                                    <p class="text-sm lg:text-base font-medium text-red-600"><%= errors["confirm-password"] %></p>
                                <% } %>
                            </div>
                            <button
                                class="middle none center mr-3 rounded-lg bg-gradient-to-br from-anep-primary-light to-anep-primary-dark py-3 px-6 font-cairo text-xs lg:text-sm font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-sky-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                data-ripple-light="true"
                                type="submit"
                            >
                                Réinitialiser
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
